@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 635px;
    margin: 0 40px;
    border-radius: 8px;
    box-shadow: 0 16px 16px 8px hsla(218, 22%, 67%, 0.2);
}

.join {
    padding: 40px;
    border-radius: 8px 8px 0 0;
    background: var(--white);
}

.join .top-header {
    margin-bottom: 24px;
    color: var(--cyan);
    letter-spacing: -0.25px;
}

.join .subheader {
    margin-bottom: 11px;
    font-size: 18px;
    color: var(--bright-yellow);
    font-weight: 700;
    letter-spacing: -0.2px;
}

.join .join-desc {
    color: hsl(218, 22%, 67%);
    letter-spacing: -0.15px;
    line-height: 1.6;
}

.card .card-wrapper {
    display: flex;
}

.card-wrapper section {
    width: 50%;
    padding: 40px 40px 39px;
}

.card-wrapper section .bottom-header {
    margin-bottom: 19px;
    color: var(--white);
    letter-spacing: -0.6px;
}

.card-wrapper .sub {
    background: var(--cyan);
    border-radius: 0 0 0 8px;
}

.sub .price {
    margin-bottom: 8px;
    color: hsla(0, 0%, 100%, 0.4);
    display: flex;
    align-items: center;
    gap: 11px;
    letter-spacing: -0.25px;
}

.price span {
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1.6px;
}

.sub p {
    margin-bottom: 30px;
    color: var(--white);
    letter-spacing: -0.15px;
}

.sub .signup {
    width: 100%;
    padding: 15px 0;
    color: var(--white);
    background: var(--bright-yellow);
    box-shadow: 0 6px 16px 0 hsla(0, 0%, 0%, 0.14);
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.card-wrapper .why {
    border-radius: 0 0 8px;
    background: rgb(74, 190, 189);
}

.why ul {
    line-height: 1.41;
}

.why ul li {
    list-style: none;
    font-size: 14px;
    color: var(--white);
    letter-spacing: -0.15px;
}

@media (max-width: 570px) {
    html,
    body {
        height: auto;
    }

    body {
        display: block; /* enables scrolling */
    }

    .card {
        max-width: 312px;
        margin: 4.5rem auto;
    }
    .join {
        padding: 28px 24px 30px;
    }

    .join .top-header {
        font-size: 20px;
    }

    .join .subheader {
        margin-bottom: 16px;
        font-size: 16px;
        letter-spacing: -0.7px;
        line-height: 1.25;
    }

    .join .join-desc {
        width: 280px;
        font-size: 15px;
        letter-spacing: -0.58px;
        line-height: 1.75;
    }

    .card .card-wrapper {
        flex-direction: column;
    }

    .card-wrapper section {
        width: 100%;
    }

    .card-wrapper .sub {
        border-radius: 0;
    }

    .card-wrapper .sub,
    .card-wrapper .why {
        padding: 24px;
    }

    .card-wrapper .why {
        border-radius: 0 0 8px 8px;
    }
}